// ---- MIXINS ----
.header-color(@bg-color, @dark-mode: false) {
  background-color: @bg-color;
  color: contrast(@bg-color);
  border-bottom: .2rem solid if(@dark-mode, lighten(@bg-color, 20%), darken(@bg-color, 20%));
}

// ---- DEFAULT MODE ----
// Headers
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: @header-height;

  // Header color modes
  // Default
  .header-color(@base-color);

  // Primary
  &.primary {
    .header-color(@primary-color);
  }

  // Secondary
  &.secondary {
    .header-color(@secondary-color);
  }

  // Tertiary
  &.tertiary {
    .header-color(@tertiary-color);
  }

  // Position modes
  &.sticky {
    position: sticky;
    top: 0;
  }
}

// ---- DARK MODE ----
@media (prefers-color-scheme: dark) {

  // Headers
  .header {
    // Header color modes
    // Default
    .header-color(@base-color-dark, true);

    // Primary
    &.primary {
      .header-color(@primary-color-dark, true);
    }

    // Secondary
    &.secondary {
      .header-color(@secondary-color-dark, true);
    }

    // Tertiary
    &.tertiary {
      .header-color(@tertiary-color-dark, true);
    }
  }
}