// ---- DEFAULT MODE ----
.header {

  // Brand link: logo or site name
  .brand-link {
    display: flex;
    align-items: center;
    color: contrast(@base-color);
    height: @header-height - @header-element-padding;
    padding: @header-element-padding;
    text-decoration: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  nav {
    &.centered {
      flex: 1; // Take up available space
      display: flex;
      align-items: center;
      justify-content: center;
      
      ul {
        justify-content: center; // Center the navigation items
      }
    }

    ul {
      display: flex;
      list-style: none;
      padding: @header-element-padding;
      margin: 0;
    }

    li {
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      padding: @header-element-padding;
      text-decoration: none;
    }
  }

  &.primary {
    .brand-link {
      color: contrast(@primary-color);
    }

    nav a {
      color: contrast(@primary-color);
    }
  }
}

// ---- DARK MODE ----
@media (prefers-color-scheme: dark) {
  .header {
    nav a {
      color: contrast(@base-color-dark);
    }

    &.primary {
      nav a {
        color: contrast(@primary-color-dark);
      }
    }
  }
}