body {
  background-color: @base-color-dark;
  .contrast-color-for(@base-color-dark);
}

// Headings
h1, h2, h3, h4, h5, h6 {
  .contrast-color-for(@base-color-dark);
}

// Links
a {
  color: @link-color-dark;
}

// Backgrounds
.bg-primary {
  background-color: @primary-color-dark;
  .contrast-color-for(@primary-color-dark);
}

.bg-secondary {
  background-color: @secondary-color-dark;
  .contrast-color-for(@secondary-color-dark);
}

.bg-tertiary {
  background-color: @tertiary-color-dark;
  .contrast-color-for(@tertiary-color-dark);
}