// ---- DARK MODE ----
@media (prefers-color-scheme: dark) {
  :root {
    // Base
    --mg-base-bg: @base-color-dark;
    --mg-base-fg: contrast(@base-color-dark, @night-black, @seasalt-white);
    --mg-base-overlay: fade(contrast(@base-color-dark, @night-black, @seasalt-white), 25%);
    --mg-base-header-border: lighten(@base-color-dark, 10%);
    --mg-base-footer-border: lighten(@base-color-dark, 20%);

    // Primary
    --mg-primary-bg: @primary-color-dark;
    --mg-primary-fg: contrast(@primary-color-dark, @night-black, @seasalt-white);
    --mg-primary-overlay: fade(contrast(@primary-color-dark, @night-black, @seasalt-white), 25%);
    --mg-primary-header-border: lighten(@primary-color-dark, 10%);
    --mg-primary-footer-border: lighten(@primary-color-dark, 20%);

    // Secondary
    --mg-secondary-bg: @secondary-color-dark;
    --mg-secondary-fg: contrast(@secondary-color-dark, @night-black, @seasalt-white);
    --mg-secondary-overlay: fade(contrast(@secondary-color-dark, @night-black, @seasalt-white), 25%);
    --mg-secondary-header-border: lighten(@secondary-color-dark, 10%);
    --mg-secondary-footer-border: lighten(@secondary-color-dark, 20%);

    // Tertiary
    --mg-tertiary-bg: @tertiary-color-dark;
    --mg-tertiary-fg: contrast(@tertiary-color-dark, @night-black, @seasalt-white);
    --mg-tertiary-overlay: fade(contrast(@tertiary-color-dark, @night-black, @seasalt-white), 25%);
    --mg-tertiary-header-border: lighten(@tertiary-color-dark, 10%);
    --mg-tertiary-footer-border: lighten(@tertiary-color-dark, 20%);

    // Button base
    --mg-btn-bg: @button-base-color-dark;
    --mg-btn-fg: contrast(@button-base-color-dark, @night-black, @seasalt-white);
    --mg-btn-overlay: fade(contrast(@button-base-color-dark, @night-black, @seasalt-white), 25%);

    // Link
    --mg-link: @link-color-dark;
  }
}