button {
  background-color: @button-base-color-dark;
  .contrast-color-for(@button-base-color-dark);

  &::after {
    .selected-bg-color-overlay(@button-base-color-dark);
  }

  &.primary {
    background-color: @primary-color-dark;
    .contrast-color-for(@primary-color-dark);
    &::after {
      .selected-bg-color-overlay(@primary-color-dark);
    }
  }

  &.secondary {
    background-color: @secondary-color-dark;
    .contrast-color-for(@secondary-color-dark);
    &::after {
      .selected-bg-color-overlay(@secondary-color-dark);
    }
  }

  &.tertiary {
    background-color: @tertiary-color-dark;
    .contrast-color-for(@tertiary-color-dark);
    &::after {
      .selected-bg-color-overlay(@tertiary-color-dark);
    }
  }
}