// Constant colors
// Black and white
@seasalt-white: #f8f8f8;
@night-black: #0a0a0a;

// Megumin colors
@megumin-red: #8a0000;
@megumin-yellow: #b08100;
@megumin-brown: #563636;

// Button base color
@button-base-color: darken(@base-color, 10%);
@button-base-color-dark: lighten(@base-color-dark, 10%);

// Form colors
@form-border-color: darken(@base-color, 20%);
@form-border-color-dark: lighten(@base-color-dark, 20%);
@form-bg-color: @base-color;
@form-bg-color-dark: @base-color-dark;
@form-focus-color: darken(@base-color, 40%);
@form-focus-color-dark: lighten(@base-color-dark, 40%);
@form-select-arrow-color: '%230a0a0a';
@form-select-arrow-color-dark: '%23f8f8f8';