@font-face {
  font-family: 'lansui';
  src: local('Iansui'), url('./lansui/Iansui-Regular-latin.woff2') format('woff2');
}

html {
  font-family: 'lansui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
}