.badge {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-size: @badge-font-size;
  font-weight: 700;
  line-height: 1;
  padding: @badge-padding;
  border-radius: @badge-border-radius;
  background-color: var(--mg-badge-bg);
  color: var(--mg-badge-fg);

  &.primary {
    background-color: var(--mg-primary-bg);
    color: var(--mg-primary-fg);
  }

  &.secondary {
    background-color: var(--mg-secondary-bg);
    color: var(--mg-secondary-fg);
  }

  &.success {
    background-color: var(--mg-badge-success-bg);
    color: var(--mg-badge-success-fg);
  }

  &.warning {
    background-color: var(--mg-badge-warning-bg);
    color: var(--mg-badge-warning-fg);
  }

  &.error {
    background-color: var(--mg-badge-error-bg);
    color: var(--mg-badge-error-fg);
  }

  &.info {
    background-color: var(--mg-badge-info-bg);
    color: var(--mg-badge-info-fg);
  }
}
