// ---- DEFAULT MODE ----
html {
  height: 100%;
}

body {
  background-color: @base-color;
  .contrast-color-for(@base-color);
  margin: 0;

  &.screen-size {
    min-height: 100vh;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
}
