// ---- DEFAULT MODE ----
// Footers
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: @footer-height;

  // Footer color modes
  // Default
  background-color: var(--mg-base-bg);
  color: var(--mg-base-fg);
  border-top: .2rem solid var(--mg-base-footer-border);

  // Primary
  &.primary {
    background-color: var(--mg-primary-bg);
    color: var(--mg-primary-fg);
    border-top: .2rem solid var(--mg-primary-footer-border);
  }

  // Secondary
  &.secondary {
    background-color: var(--mg-secondary-bg);
    color: var(--mg-secondary-fg);
    border-top: .2rem solid var(--mg-secondary-footer-border);
  }

  // Tertiary
  &.tertiary {
    background-color: var(--mg-tertiary-bg);
    color: var(--mg-tertiary-fg);
    border-top: .2rem solid var(--mg-tertiary-footer-border);
  }

  // Position modes
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.sticky {
    position: sticky;
    bottom: 0;
  }
}
