// ---- DEFAULT MODE ----
// Headers
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: @header-height;

  // Header color modes
  // Default
  .header-color(@base-color);

  // Primary
  &.primary {
    .header-color(@primary-color);
  }

  // Secondary
  &.secondary {
    .header-color(@secondary-color);
  }

  // Tertiary
  &.tertiary {
    .header-color(@tertiary-color);
  }

  // Position modes
  &.sticky {
    position: sticky;
    top: 0;
  }

  // Brand link: logo or site name
  .brand-link {
    display: flex;
    align-items: center;
    color: contrast(@base-color);
    height: @header-height - @header-element-padding;
    padding: @header-element-padding;
    text-decoration: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // Navigation
  nav {
    &.centered {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      
      ul {
        justify-content: center;
      }
    }

    ul {
      display: flex;
      list-style: none;
      padding: @header-element-padding;
      margin: 0;
    }

    li {
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      padding: @header-element-padding;
      text-decoration: none;
      border-radius: @header-nav-border-radius;

      &:hover, &.selected {
        .selected-bg-color-overlay(@base-color);
      }
    }
  }

  &.primary {
    .brand-link {
      color: contrast(@primary-color);
    }

    nav a {
      color: contrast(@primary-color);
      &:hover, &.selected {
        .selected-bg-color-overlay(@primary-color);
      }
    }
  }
}
