// ---- DEFAULT MODE ----
// Headers
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: @header-height;

  // Header color modes
  // Default
  background-color: var(--mg-base-bg);
  color: var(--mg-base-fg);
  border-bottom: .2rem solid var(--mg-base-header-border);

  // Primary
  &.primary {
    background-color: var(--mg-primary-bg);
    color: var(--mg-primary-fg);
    border-bottom: .2rem solid var(--mg-primary-header-border);
  }

  // Secondary
  &.secondary {
    background-color: var(--mg-secondary-bg);
    color: var(--mg-secondary-fg);
    border-bottom: .2rem solid var(--mg-secondary-header-border);
  }

  // Tertiary
  &.tertiary {
    background-color: var(--mg-tertiary-bg);
    color: var(--mg-tertiary-fg);
    border-bottom: .2rem solid var(--mg-tertiary-header-border);
  }

  // Position modes
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  // Brand link: logo or site name
  .brand-link {
    display: flex;
    align-items: center;
    color: var(--mg-base-fg);
    height: @header-height - @header-element-padding;
    padding: @header-element-padding;
    text-decoration: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // Navigation
  nav {
    &.centered {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      
      ul {
        justify-content: center;
      }
    }

    ul {
      display: flex;
      list-style: none;
      padding: @header-element-padding;
      margin: 0;
    }

    li {
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: var(--mg-base-fg);
      padding: @header-element-padding;
      text-decoration: none;
      border-radius: @header-nav-border-radius;

      &:hover, &.selected {
        background-color: var(--mg-base-overlay);
      }
    }
  }

  &.primary {
    .brand-link {
      color: var(--mg-primary-fg);
    }

    nav a {
      color: var(--mg-primary-fg);
      &:hover, &.selected {
        background-color: var(--mg-primary-overlay);
      }
    }
  }

  &.secondary {
    .brand-link {
      color: var(--mg-secondary-fg);
    }

    nav a {
      color: var(--mg-secondary-fg);
      &:hover, &.selected {
        background-color: var(--mg-secondary-overlay);
      }
    }
  }

  &.tertiary {
    .brand-link {
      color: var(--mg-tertiary-fg);
    }

    nav a {
      color: var(--mg-tertiary-fg);
      &:hover, &.selected {
        background-color: var(--mg-tertiary-overlay);
      }
    }
  }
}
