// ---- COLORS ----
// Theme colors. You can change them to the one of your liking.
// Base color
@base-color: @seasalt-white;
@base-color-dark: @night-black;

// Primary color
@primary-color: @megumin-red;
@primary-color-dark: darken(@primary-color, 5%);

// Secondary color
@secondary-color: @megumin-yellow;
@secondary-color-dark: darken(@secondary-color, 5%);

// Tertiary color
@tertiary-color: @megumin-brown;
@tertiary-color-dark: darken(@tertiary-color, 5%);

// Link color
@link-color: @megumin-yellow;
@link-color-dark: darken(@link-color, 5%);

// ---- HEADER ----
@header-height: 4rem;
@header-element-padding: .5rem;
@header-nav-border-radius: .25rem;

// ---- FOOTER ----
@footer-height: 4rem;

// ---- BUTTONS ----
@button-padding: .5rem;
@button-border-radius: .25rem;
@button-hover-transition: .2s;